<div id="devise-registrations-new-view">
  <devise-registrations-new-view :errors="<%= resource.errors.full_messages %>">
  </devise-registrations-new-view>
</div>

<!-- include the generated javascript and stylesheet -->
<%= javascript_pack_tag 'devise/registrations/new'%>
<%= stylesheet_pack_tag 'devise/registrations/new'%>
